<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="description" content="<%= description %>">
        <!--todo look into ui kit what is this -->
        <!--<link href="<%= config.assets.folder_vendor %>/uikit-2.23.0\css\uikit.min.css" media="all" rel="stylesheet" />-->
        <link href="<%= config.assets.folder_css %>/styles.css" media="all" rel="stylesheet" />
     	<script src="<%= config.assets.folder_vendor %>/jquery-1.11.3/jquery-1.11.3.min.js"></script>
    </head>
    <body>
        <%- partial('_partials/header') %>
        <%- yield %>
        <%- partial('_partials/footer') %>
    </body>
    <!--todo fix vendor and js assets so it works with our front end stuff -->
    <script src="<%= config.assets.folder_vendor %>/uikit-2.23.0\js\core\core.min.js"></script>
    <script src="<%= config.assets.folder_js %>/main.js"></script>
</html>
